/* 思贤部分 */
@media screen and (max-width: 962px) {
  div.welcome {
    font-size: 16px;
  }
}
@media screen and (max-width: 765px) {
  body div.sx-container {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .sx-container div.nav {
    display: block;
  }
  .sx-container div.queue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93%;
    padding: 1.5vw 20px ;
    border-radius: 0%;
    background: aliceblue;
  }
  .sx-container div.welcome {
    height: 55%;
  }
  .sx-container div.logo {
    height: 15%;
  }
  .sx-container div.queue-msg {
  height: 15%;
 }
  .sx-container div.queue-btn {
    box-sizing: border-box;
    height: 15%;
    padding-top: 7%;
  }
}


.sx-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: skyblue;
}
.user {
  /* display: none; */
  position: absolute;
  top: 16%;
  left: 10%;
  width: 25vw;
  height: 32vw;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(255, 0, 0, 0.226);
  z-index: 2;
  /* visibility: hidden; */
}
.queue {
  /* display: none; */
  position: absolute;
  top: 16%;
  left: 45%;
  width: 25vw;
  height: 32vw;
  padding: 1.5vw;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.226);
  z-index: 2;
}
/* 手机尺寸的下方导航 */
.nav {
  display: none;
  position: absolute; 
  bottom: 0;
  width: 100%;
  height: 7%;
  /* background: red; */
}
.nav ul {
  height: 100%;
  /* line-height: 10% ; */
  display: flex;
}
.nav ul li {
   /* height: 100%; */
  padding-top: 4%;
  flex: 1 0 auto; 
  text-align: center;
}
.nav ul li:nth-child(1) {
  border-right: 1px solid rgba(114, 114, 114, 0.568);
}
/* 排队面试 */
.welcome {
  height: 12vw;
  font-size: 18px;
  overflow: auto;
  padding-top: 10%;
  /* background-color: red; */
}
.logo {
  height: 4.5vw;
  padding-top: 15px;
  text-align: center;
  /* background: aqua; */
}
.logo img {
  height: 100%;
}
.queue-msg {
  /* display: none; */
  height: 6vw;
  /* background-color: skyblue; */
}
.queue-btn {
  height: 6vw;
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center;
    /* background-color: skyblue; */
}
.queue-btn button {
  padding: 5px 15px;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 18px;
  background-color: #fff;
}
.queue-btn button:hover {
  background-color: rgb(238, 238, 238);
}

/* 登录成功后的布局变化 */
.hasIn .queue {
  transition: all 0.5 linear;
  left: 10%;
  animation: move 1s;
}
@keyframes move {
  0% {
    left: 45%;
    z-index: 6;
  }
  25% {
    z-index: 6;
  }
  45% {
    z-index: 6;
  }
  65% {
    z-index: 6;
  }
  75% {
    z-index: 6;
  }
  100% {
    left: 10%;
    z-index: 2;
  }
}
.hasIn .user {
  visibility: visible;
  transition: all 0.5s linear 1s;
  left: 45%;
  animation: move_two 1.5s 1s;
}

@keyframes move_two {
  0% {
    left: 10%;
    z-index: 6;
  }
  25% {
    z-index: 6;
  }
  45% {
    z-index: 6;
  }
  65% {
    z-index: 6;
  }
  75% {
    z-index: 6;
  }
  100% {
    left: 45%;
    z-index: 2;
  }
}

/* 用户改密码样式 */
.user-pwd {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 200px;
  border-radius: 8px;
  background: rgba(0,0,0,0.8);
  color: white;
}
.user-pwd p {
  text-align: center;
}
.user-pwd input {
  color: black;
  padding-left: 5px;
}
.user-pwd button {
  background: white;
  color: black;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.user-pwd button:hover {
  background: rgb(252, 245, 215);
}


/* 思贤部分结束 */

/*敏仪部分开始*/
@media screen and (max-width: 765px) {
  div.login {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  div.login h1 {
    padding-top: 30vw;
    font-size: 8vw;
    text-align: center;
  }
  div.login_name,
  div.login_pwd {
    margin-top: 12vw;
    position: relative;
  }  
  div.login_name input,
  div.login_pwd input {
    border: none;
    outline: none;
    width: 70vw;
    height: 8vw;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    margin-left: 14vw;
    font-size: 4vw;
  }
  div.login_name label,
  div.login_pwd label {
    position: absolute;
    top: 0%;
    left: 14vw;
    z-index: 2;
    font-size: 4vw;
  }
  button.login_btn {
    display: block;
    margin: 14vw auto;
    width: 20vw;
    height: 8vw;
    font-size: 4vw;
    border: none;
    background: linear-gradient(90deg,rgba(181,154,254),rgba(245,189,253));
    border-radius: 1vw;
    outline: none;
  }
}
.login {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 25vw;
  height: 20vw;
  padding: 0.5vw;
  color: rgba(0,0,0,0.8);
  background: white;
  box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.5);
  z-index: 5;
}
.login h1 {
  font-size: 1.5vw;
  text-align: center;
  padding-top: 1vw;
}
.login_name,
.login_pwd {
  margin-top: 2.5vw;
  position: relative;
}  
.login_name input,
.login_pwd input {
  border: none;
  outline: none;
  width: 16vw;
  height: 2vw;
  border-bottom: 1px solid rgba(0,0,0,0.8);
  margin-left: 1.5vw;
}
.login_name label,
.login_pwd label {
  position: absolute;
  top: 20%;
  left: 1.5vw;
  z-index: 2;
  font-size: 1.1vw;
}
.login_btn {
  display: block;
  margin: 2.5vw auto;
  width: 5vw;
  height: 1.8vw;
  font-size: 1vw;
  border: none;
  background: linear-gradient(90deg,rgba(181,154,254),rgba(245,189,253));
  border-radius: 0.25vw;
  outline: none;
}
.tip_box {
	width: 220px;
	line-height: 60px;
	border-radius: 5px;
	background-color: rgb(32,32,31,0.5);
	text-align: center;
	color: rgb(248,248,248);
	font-size: 17px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 30;
}
/*敏仪部分结束*/

/* 慧梅 start */
.avatar {
  width: 6vw;
  height: 6vw;
  margin: 0 auto;
  border: 2px solid #333;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
    width: 100%;
}
.user h3 {
  color: honeydew;
  text-align: center;
}
.info {
  width: 80%;
  height: 50%;
  margin: 1vw auto;
  text-align: left;
  font-size: 1.2vw;
  line-height: 2.5vw;
}
.info li {
  display: flex;
  justify-content: space-between;
  color: #333;
}
.info .Qgroup {
  display: none;
}
.change-pwd {
  float: right;
  color: #444;
  position: relative;
  right: 1vw;
  cursor: pointer;
}
/* 用户信息手机版 */
@media screen and (max-width: 765px) {
  .sx-container div.user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93%;
    padding: 1.5vw 20px ;
    border-radius: 0%;
    
  }
  .avatar {
    width: 25vw;
    height: 25vw;
  }
  .info {
    font-size: 4vw;
    line-height: 7vw;
  }
}
/* 慧梅 end */
